body {
    background-color: #162447;
    font-family: Calibri;
    padding: 0;
    margin: 0;
}

h1 {
    color: #E43F5A;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
}

h2 {
    color: aliceblue;
    font-size: 24px;
    margin: 16px;
    margin-bottom: 26px;
}

input[type = 'text'], input[type = 'number'] {
    margin: 28px 0 24px;
    font-size: 16px;
    height: 24px;
    width: 180px;
    border-radius: 5px;
}

input[type = 'submit'] {
    margin-top: 26px;
    height: 28px;
    width: 164px;
    font-size: 18px;
}

li {
    margin: 5px;
    list-style: none;
    transform: translateX(-3%);
}

span {
    font-size: 18px;
    color: aliceblue;
    margin-left: 4px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
}

.create-group-page {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    top: 80px;
    background-color: #1e3162;
    border-radius: 10px;
    width: 700px;
    height: 960px;
    box-shadow: 1px 1px 10px;
}

h3 {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.end {
    margin-bottom: 240px;
}