<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
        <link 
        type= "text/css" rel="stylesheet"
        href="/resetpassword.css">
    </head>
    
    <body>
        <div class="reset-page">
            <div class="container">
                <form name="form1" class="box">
                    <h1>MyMeet</h1>
                    <h3>Enter new password below.</h3>
                    <input type="password" name="password" placeholder="New Password">
                    <input type="submit" value="Submit" class="bt1">
                </form>
            </div>
        </div>    
    </body>
</html>